.title {
	padding: 10px 20px;
	text-align: center;
	font: {
		size: 32px;
		weight: 500;
	}
	color: #555;
	line-height: 42px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
