/* ================================================== Basic */

*
{
	user-select: none !important;
	transition: all .25s ease-in-out !important;

	outline: none !important;
}

body
{
	font-family: "Roboto", sans-serif;

	height: 100%;

	background-color: #ecf0f1;
}

a
{
	cursor: pointer;
}

.popover
{
	transition-property: opacity !important;
	*
	{
		transition-property: opacity !important;
	}
}

/* ================================================== /Basic */
