/* ================================================== Basic */

*
{
	user-select: none !important;
	transition: all .25s ease-in-out !important;

	outline: none !important;
}

body
{
	font-family: 'Roboto', sans-serif;

	height: 100%;

	background-color: #ecf0f1;
}

a
{
	cursor: pointer;
}

.popover
{
	transition-property: opacity !important;
	*
	{
		transition-property: opacity !important;
	}
}

.fork-me
{
	display: none;
}

@media (min-width: 1440px)
{
	.fork-me
	{
		position: absolute;
		z-index: 999999;
		top: 0;
		right: 0;

		display: block;
		a
		{
			position: absolute;
			z-index: 999999;
			top: 0;
			right: 0;

			width: 141px;
			height: 141px;

			background-image: url('../img/fork_me.png');
			background-repeat: no-repeat;
			background-size: 141px 141px;
		}
	}
}

/* ================================================== /Basic */
