*
{
	user-select: none !important;
	transition: all .25s ease-in-out !important;
	outline: none !important;
}

html
{
	// position: relative;
	// min-height: 100%;
}
body
{
	font-family: 'Roboto', sans-serif;

	height: 100%;

	background-color: #ecf0f1;
}

a
{
	cursor: pointer;
}
