/* ================================================== Captcha */

.ml
{
	@extend .modal;
	@extend .fade;
	&-dialog
	{
		@extend .modal-dialog;
	}
	&-header
	{
		@extend .modal-header;
	}
	&-title
	{
		@extend .modal-title;
	}
	&-content
	{
		@extend .modal-content;
	}
	&-body
	{
		@extend .modal-body;
	}
	&-footer
	{
		@extend .modal-footer;
	}
}

.ca
{
	z-index: 999999 !important;
	.ml-dialog
	{
		z-index: 999999 !important;

		width: 300px;
		margin: 60px auto;
	}
	&-img
	{
		margin: 0 auto;
		padding: 0 0 20px 0;

		text-align: center;
		img
		{
			display: block;

			margin: 0 auto;
		}
	}
}

/* ================================================== /Captcha */
