/* ================================================== cls */

.cls
{
	display: none;

	margin: 95px 0 10px 0 !important;
	padding: 0 !important;

	@include make-row();
	&-container
	{
		padding: 0 !important;

		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(6);
	}
	&-user,
	&-popular,
	&-recommendations,
	&-shuffle,
	&-alphabetically,
	&-backward,
	&-forward,
	&-download,
	&-download-all,
	&-m3u,
	&-broadcast
	{
		font-size: 20pt;
		line-height: 25pt;

		margin-right: 10px;

		cursor: pointer;

		color: #444;
		&:hover,
		&:active,
		&:focus
		{
			color: #777;
		}
	}
	&-user
	{
		@extend .fa;
		@extend .fa-user;
	}
	&-popular
	{
		@extend .fa;
		@extend .fa-bar-chart;
	}
	&-recommendations
	{
		@extend .fa;
		@extend .fa-certificate;
	}
	&-shuffle
	{
		@extend .fa;
		@extend .fa-refresh;
	}
	&-alphabetically
	{
		@extend .fa;
		@extend .fa-sort-alpha-asc;
	}
	&-backward
	{
		@extend .fa;
		@extend .fa-backward;
		@extend .hidden-sm;
		@extend .hidden-md;
		@extend .hidden-lg;
	}
	&-forward
	{
		margin-right: 0;

		@extend .fa;
		@extend .fa-forward;
		@extend .hidden-sm;
		@extend .hidden-md;
		@extend .hidden-lg;
	}
	&-download
	{
		margin-left: 10px;

		@extend .fa;
		@extend .fa-download;
		@extend .hidden-xs;
		@extend .hidden-sm;
		&.active
		{
			color: #16a085;
		}
		&-all
		{
			display: none;

			transition: all .25s ease-in-out;

			@extend .fa;
			@extend .fa-list-ol;
			@extend .hidden-xs;
			@extend .hidden-sm;
			&.active
			{
				display: inline-block;

				transition: all .25s ease-in-out;
				animation: opacityIn .25s ease-in-out;
			}
		}
	}
	&-m3u
	{
		@extend .fa;
		@extend .fa-headphones;
		@extend .hidden-xs;
		@extend .hidden-sm;
	}
	&-broadcast
	{
		@extend .fa;
		@extend .fa-bullhorn;
		@extend .hidden-xs;
		@extend .hidden-sm;
		&.active
		{
			color: #16a085;
		}
	}
	&-sh
	{
		padding: 0 !important;

		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(6);
		&-container
		{
			@include make-row();
		}
		&-query
		{
			@include make-md-column(8);
		}
		&-btn
		{
			@include make-md-column(4);
		}
		&-gr
		{
			@extend .dropdown;
			&-list
			{
				width: 100%;
				min-width: auto;

				@extend .dropdown-menu;
			}
		}
		button
		{
			width: 100%;
			min-width: 100%;

			@extend .btn;
			@extend .btn-default;
			@extend .dropdown-toggle;
		}
		input
		{
			color: #444;

			@extend .form-control;
		}
	}
}

@media (max-width: $screen-xs-max)
{
	.cls
	{
		margin: 60px auto 10px auto !important;
		&-container
		{
			margin-bottom: 10px !important;

			text-align: center;
		}
		&-sh
		{
			input
			{
				margin-bottom: 10px;
			}
			button
			{
				display: block;

				width: 100%;
				min-width: 100%;
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
{
	.cls
	{
		margin: 100px auto 10px auto !important;
		&-container
		{
			margin-bottom: 10px !important;

			text-align: center;
		}
		&-sh
		{
			input
			{
				margin-bottom: 10px;
			}
			button
			{
				display: block;

				width: 100%;
				min-width: 100%;
			}
		}
	}
}

@media (min-width: $screen-md-min)
{
	.cls
	{
		&-sh
		{
			&-btn
			{
				padding-left: 0;
			}
		}
	}
}

/* ================================================== /cls */
