/* ================================================== Playlist */

.pl
{
	display: none;
	&-container
	{
		@include make-row();
	}
	&-items
	{
		@extend .list-group;
		&-container
		{
			@include make-md-column(12);
		}
	}
	&-item
	{
		overflow: hidden;

		padding-right: 90px;

		cursor: pointer;
		animation: opacityIn .25s ease-in-out;
		white-space: nowrap;
		text-overflow: ellipsis;

		-webkit-user-drag: element;
		-khtml-user-drag: element;
		@extend .list-group-item;
		.actions
		{
			position: absolute;
			top: 50%;
			right: 15px;

			transform: translateY(-50%);
			.add,
			.delete
			{
				font-size: 13pt;

				position: absolute;
				top: 50%;
				right: 0;

				cursor: pointer;
				transform: translateY(-50%);
				animation: opacityIn .25s ease-in-out;
			}
			.add
			{
				@extend .fa;
				@extend .fa-plus;
				@extend .pull-right;
				@extend .hidden-xs;
				&:hover,
				&:active,
				&:focus
				{
					color: #4caf50;
				}
				&.done
				{
					@extend .fa-check;
				}
			}
			.delete
			{
				@extend .fa;
				@extend .fa-times;
				@extend .pull-right;
				@extend .hidden-xs;
				&:hover,
				&:active,
				&:focus
				{
					color: #e51c23;
				}
				&.done
				{
					@extend .fa-check;
				}
			}
		}
		.duration
		{
			position: absolute;
			top: 50%;
			right: 25px;

			transform: translateY(-50%);
			animation: opacityIn .25s ease-in-out;

			@extend .hidden-xs;
			@extend .label;
			@extend .label-default;
		}
		.bitrate
		{
			position: absolute;
			top: 50%;
			right: 25px;

			transform: translateY(-50%);
			animation: opacityIn .25s ease-in-out;

			@extend .hidden-xs;
			&-higher
			{
				animation: opacityIn .25s ease-in-out;

				@extend .label;
				@extend .label-success;
			}
			&-high,
			&-medium
			{
				animation: opacityIn .25s ease-in-out;

				@extend .label;
				@extend .label-warning;
			}
			&-low
			{
				animation: opacityIn .25s ease-in-out;

				@extend .label;
				@extend .label-danger;
			}
			&-load
			{
				line-height: 0;

				right: 35px;

				animation: load 2s infinite;

				color: #bbb;

				@extend .hidden-xs;
				@extend .fa;
				@extend .fa-spinner;
			}
		}
		&.sortable-ghost
		{
			cursor: move !important;

			border-color: #f4e2c9 !important;
			background-color: #f4e2c9 !important;
		}
		&.dl-active
		{
			border-left: 4px #16a085 solid;

			@extend .hidden-xs;
			@extend .hidden-sm;
		}
	}
}

@media (max-width: $screen-xs-max)
{
	.pl
	{
		&-item
		{
			padding-right: 15px;
		}
	}
}

@media (min-width: $screen-sm-min)
{
	.pl
	{
		&-item
		{
			&:hover,
			&:active,
			&:focus
			{
				.duration
				{
					display: none;
				}
				.bitrate
				{
					display: block;
				}
			}
		}
	}
}


/* ================================================== Playlist */
