/* ================================================== Playlist */

.pl
{
	display: none;
	&-container
	{
		@include make-row();
	}
	&-items
	{
		@extend .list-group;
		&-container
		{
			@include make-md-column(12);
		}
	}
	&-item
	{
		overflow: hidden;

		padding-right: 140px;

		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;

		-webkit-user-drag: element;
		-khtml-user-drag: element;
		@extend .list-group-item;
		.actions
		{
			position: absolute;
			top: 45%;
			right: 15px;

			transform: translateY(-50%);
			.add,
			.delete
			{
				font-size: 13pt;

				margin-top: 3px;
				margin-left: 0 !important;

				cursor: pointer;
				animation: opacityIn .25s ease-in-out;
			}
			.add
			{
				@extend .fa;
				@extend .fa-plus;
				@extend .pull-right;
				@extend .hidden-xs;
				&:hover,
				&:active,
				&:focus
				{
					color: #4caf50;
				}
				&.done
				{
					@extend .fa-check;
				}
			}
			.delete
			{
				@extend .fa;
				@extend .fa-times;
				@extend .pull-right;
				@extend .hidden-xs;
				&:hover,
				&:active,
				&:focus
				{
					color: #e51c23;
				}
				&.done
				{
					@extend .fa-check;
				}
			}
		}
		.duration
		{
			margin-right: 8px;

			animation: opacityIn .25s ease-in-out;

			@extend .hidden-xs;
			@extend .label;
			@extend .label-default;
		}
		.bitrate
		{
			margin-right: 8px;

			animation: opacityIn .25s ease-in-out;

			@extend .hidden-xs;
			&-higher
			{
				@extend .label;
				@extend .label-success;
			}
			&-high,
			&-medium
			{
				@extend .label;
				@extend .label-warning;
			}
			&-low
			{
				@extend .label;
				@extend .label-danger;
			}
		}
		&.sortable-ghost
		{
			cursor: move !important;

			border-color: #f4e2c9 !important;
			background-color: #f4e2c9 !important;
		}
		&.dl-active
		{
			border-left: 4px #16a085 solid;

			@extend .hidden-xs;
			@extend .hidden-sm;
		}
	}
}

@media (max-width: $screen-xs-max)
{
	.pl
	{
		&-item
		{
			padding-right: 15px;
		}
	}
}


/* ================================================== Playlist */
