/* ================================================== Player */

.plr
{
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;

	display: none;
	overflow: hidden;

	background-color: rgba(0, 0, 0, .5);
	&:hover,
	&:active,
	&:focus
	{
		background-color: rgba(0, 0, 0, .7);
	}
	&-cls
	{
		margin: 5px auto;

		@include make-row();
		&-prev,
		&-next
		{
			@extend .hidden-xs;
			i
			{
				font-size: 20pt;

				margin: 5px auto;

				cursor: pointer;

				color: #d3d3d3;
				text-shadow: 0 1px 3px rgba(0,0,0,.75);
				&:hover,
				&:active,
				&:focus
				{
					color: #fff;
				}
			}
		}
		&-prev
		{
			text-align: left;

			@include make-xs-column(2);
			@include make-sm-column(1);
			@include make-md-column(1);
			@extend .pull-left;
			i
			{
				@extend .fa;
				@extend .fa-chevron-left;
			}
		}
		&-title
		{
			text-align: center;

			@include make-xs-column(12);
			@include make-sm-column(10);
			@include make-md-column(10);
			h1
			{
				font-size: 14pt;

				overflow: hidden;

				margin: 7px auto;

				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;

				color: #fff;
				text-shadow: 0 2px rgba(0,0,0,.75);
			}
		}
		&-next
		{
			text-align: right;

			@include make-xs-column(2);
			@include make-sm-column(1);
			@include make-md-column(1);
			@extend .pull-right;
			i
			{
				@extend .fa;
				@extend .fa-chevron-right;
			}
		}
	}
	&-audio
	{
		@include make-row();
		@extend .hidden-xs;
		&-container
		{
			@include make-md-column(12);
		}
		audio
		{
			width: 100%;
			min-width: 100%;
			margin: 0 auto;

			text-align: center;
		}
	}
}

@media (max-width: $screen-xs-max)
{
	.plr
	{
		&-cls
		{
			&-title
			{
				h1
				{
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max)
{
	.plr
	{
		&-cover
		{
			display: none;
			img
			{
				display: none;
			}
		}
	}
}

@media (min-width: $screen-md-min)
{
	.plr
	{
		&-cover
		{
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			margin: auto;

			transition: all 1s ease-in-out;
			pointer-events: none !important;
			img
			{
				position: absolute;
				z-index: -1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				min-width: 100%;
				margin: auto;

				transition: all 1s ease-in-out;
				animation: plr-cover 30s infinite ease-in-out;
				pointer-events: none !important;

				opacity: .2;
			}
		}
	}
}

/* ================================================== /Player */
