/* ================================================== VK */

.vk
{
	margin: 0 !important;
	padding: 0 !important;

	@include make-row();
	.container
	{
		text-align: center;
	}
	&-auth
	{
		margin: 50px auto;

		text-align: center;
	}
}


/* ================================================== /VK */
