/* ================================================== Animations */

.an
{
	&-plr
	{
		&-prev
		{
			animation: plr-prev .25s ease-in-out;
		}
		&-next
		{
			animation: plr-next .25s ease-in-out;
		}
	}
	&-pl
	{
		&-moved
		{
			animation: pl-moved 1s ease-in-out;
			&--active
			{
				animation: pl-moved-active 1s ease-in-out;
			}
		}
		&-bitrate
		{
			animation: pl-bitrate .25s ease-in-out;
		}
	}
	&-o
	{
		&-in
		{
			animation: opacityIn .25s ease-in-out;
		}
		&-out
		{
			animation: opacityOut .25s ease-in-out;
		}
	}
}

/* ================================================== Keyframes */

@keyframes load
{
	0%
	{
		transform: rotate(0);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes plr-prev
{
	0%
	{
		transform: translateX(20%);

		opacity: 0;
	}
	100%
	{
		transform: translateX(0);

		opacity: 1;
	}
}
@keyframes plr-next
{
	0%
	{
		transform: translateX(-20%);

		opacity: 0;
	}
	100%
	{
		transform: translateX(0);

		opacity: 1;
	}
}
@keyframes plr-cover
{
	0%
	{
		transform: scale(1, 1) rotate(0deg);
	}
	25%
	{
		transform: scale(1.1, 1.1) rotate(20deg);
	}
	50%
	{
		transform: scale(1.1, 1.1) rotate(-20deg);
	}
	100%
	{
		transform: scale(1, 1) rotate(0deg);
	}
}
@keyframes plr-title
{
	0%
	{
		transform: translateX(-100%);
	}
	100%
	{
		transform: translateX(100%);
	}
}
@keyframes pl-moved
{
	0%
	{
		background-color: #fff;
	}
	50%
	{
		background-color: #f5f5dc;
	}
	100%
	{
		background-color: #fff;
	}
}
@keyframes pl-moved--active
{
	0%
	{
		background-color: #2196f3;
	}
	50%
	{
		border-color: #b3cce0;
		background-color: #b3cce0;
	}
	100%
	{
		background-color: #2196f3;
	}
}
@keyframes pl-bitrate
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes opacityIn
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes opacityOut
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

/* ================================================== /Animations */
